{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
{% include "professor-menu.html" %}
<div class="right">
	Εγγεγραμμένοι μαθητές:
	 {% if students %}
	  	<ul>
	 	{% for student in students %}
	 		<li><input type="text" value="{{ student.first_name }}"> <input type="text" value="{{ student.last_name }}"> <a href='#' class='rename'>αλλαγή</a></li>
	 	{% endfor %}
	 	</ul>
	{% else %}
		Δεν έχουν εγγραφεί μαθητές!
	{% endif %}
 </div>
{% endblock %}

{% block footer%}
    <a href="{% url logout %}">Αποσύνδεση</a>
{% endblock %}