{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
{% include "professor-menu.html" %}
<div class="right">
	Εγγεγραμμένοι μαθητές:
	 {% if students %}
	  	<ul>
	 	{% for student in students %}
	 		<li class="{{ student.id }}"><input type="text" class='name' value="{{ student.first_name }}"> <input type="text" value="{{ student.last_name }}" class="last_name" id={{ student.id }}> <a href='#' class='rename'>αλλαγή</a></li>
	 	{% endfor %}
	 	</ul>
	{% else %}
		Δεν έχουν εγγραφεί μαθητές!
	{% endif %}
 </div>
{% endblock %}

{% block footer%}
	 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="{% static "/static/student.js" %}"></script>
    <a href="{% url logout %}">Αποσύνδεση</a>
{% endblock %}