{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
 {% include "student-menu.html" %}
 <div class="right">
 {% if examples %}
 	{% for example in examples %}
 	<h2>{{ example.chapterId.title }}</h2>
	<p>
 		{{ example.question }}<br>
		{{ example.answer }}
	</p>
 	{% endfor %}
{% else %}
	Δεν έχουν εισαχθέι παραδείγματα, ζητήστε από τον καθηγητή να εισάγει μερικά!
{% endif %}
 </div>
{% endblock %}

{% block footer%}
  {% if user.is_authenticated%}
    <a href="{% url logout %}">Αποσύνδεση</a>
  {% endif %} 
{% endblock %}