<form class="exercise" method="post" action="/evaluate-exercise/">
	<input type="hidden" name="exercise_pk" value= {{ exercise.pk }} />
	<div class = "question">
		<p>
			{% if exercise.get_type == "TrueOrFalse" %}
				Η ακολουθή προτάση είναι σώστη η λάθος;
			{% elif exercise.get_type == "FillTheBlanks"%}
				Συμπληρώστε τα κενά.
			{% else %}
				Επιλέξτε τη σώστη απάντηση.
			{% endif %}
		</p>
		{{ exercise.exercise_type.question }}
	</div>
		<div class="choices">
		{% if exercise.get_type == "TrueOrFalse" %}
			<label><input type="radio" name="answer" value="True" style="display: inline;">Σωστό</label>
			<label><input type="radio" name="answer" value="False" style="display: inline;">Λάθος</label>
		{% elif exercise.get_type == "FillTheBlanks"%}
			<input type="text" name="answer"/>
		{% else %}
			<label><input type="radio" name ="answer" value="1" style="display: inline;"> {{ exercise.exercise_type.choice1 }} </label>
			<label><input type="radio" name ="answer" value="2" style="display: inline;"> {{ exercise.exercise_type.choice2 }} </label>
			<label><input type="radio" name ="answer" value="3" style="display: inline;"> {{ exercise.exercise_type.choice3 }} </label>
			<label><input type="radio" name ="answer" value="4" style="display: inline;"> {{ exercise.exercise_type.choice4 }} </label>
		{% endif %}
		</div>
		
	<input type="submit" value="Απάντηση" />
</form>