{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
{% include "student-menu.html" %}
<div class="right">
	<h2> Βαθμοί </h2>
	<ul class="grades">
		{% for grade in grades %}
		<li>
			<span class="exam">Διαγώνισμα:{{ grade.exam }}</span><br>
			Bαθμός: {{ grade.grade }}<br>
			Ώρα: {{ grade.takenOn }}<br>
		</li>
		{% endfor %}
	</ul>

	<h2> Λάθη </h2>
	<ul class="grades">
	{% for mistake in mistakes %}
		<li>
			<span class="exam">Άσκηση: {{ mistake.exercise.exercise_type.question}}</span><br>
			Η απάντηση σου: {{ mistake.answer }} <br>
			Σωστή απάντηση: {{ mistake.exercise.exercise_type.answer }} <br>
			Ώρα: {{ mistake.timeMade}} <br>
		</li>
	{% endfor %}
	</ul>

</div>


 {% endblock %}