{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
 {% include "student-menu.html" %}
 <div class="right">
 	<div id="{{ type }}-level">{{ level }}</div>
 	{% comment %}
 		Ajax request  in order to generate a test to the current level
 		and put it in the div.container!
 	{% endcomment %}
	 <div class='container'>
	 	Παρακαλώ επίλεξε το επίπεδο της θεωρίας που έχεις διαβάσει!
	 </div>
 </div>
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="{% static "/static/test.js" %}"></script>
{% endblock %}

{% block footer%}
  {% if user.is_authenticated%}
    <a href="{% url logout %}">Αποσύνδεση</a>
  {% endif %} 
{% endblock %}