{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
 {% include "student-menu.html" %}
 <div class="right">
 	<ul class="tabs">
 		{% for chapter in chapters %}
 		<li {% if forloop.first %}class="active" {% endif %}>{{ chapter.title }}</li>
 		{% endfor %}
 	</ul>
 	<ul class="panes">
 		{% for chapter in chapters %}
		 <li {% if forloop.first %}class="active" {% endif %}>
 			<h1>{{ chapter.title }}</h1>
 			{% autoescape off %}
 			<p class="easy">
		 		{{ chapter.contentEasy }}
		 	</p>
		 	<p class="medium">
				{{ chapter.contentMedium }}
			</p>
			<p class="hard">
				{{ chapter.contentHard }}
			</p>
			{% endautoescape %}
		</li>
		{% endfor %}
	</ul>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="{% static "/static/tabs.js" %}"></script>
{% endblock %}

{% block footer%}
  {% if user.is_authenticated%}
    <a href="{% url logout %}">Αποσύνδεση</a>
  {% endif %} 
{% endblock %}