{% load staticfiles %}

<!doctype html>
<html>
    <head>                                        
    	<title>Μάθετε Μαθηματικά!</title>                                                                                    
		<link rel="stylesheet" type="text/css" href="{% static "/static/style.css" %}" media="screen">
		<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<link rel="shortcut icon" href="{% static "favicon.ico" %}">
	</head>
	<body class="{% block body_class %}{% endblock %}">
		<section id="top">
			<header>
				{% if user.is_authenticated %}
	        		Καλωσήλθες, {{ user.first_name}}!
	        	{% else %}
	        		Καλωσήλθατε 
	        	{% endif %}
			</header>
		</section>
		<div id='content' class='noborder'>
			{% block content %}
         	   content!!!
            {% endblock %}
        </div>
  		<footer>
  			{% block footer %}
        		Powered by django
        	{% endblock %}
		</footer>
    	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	</body>
</html>