{% load staticfiles %}

<!doctype html>
<html>
    <head>                                        
    	<title>Μάθετε Μαθηματικά!</title> 
    	 <link href='http://fonts.googleapis.com/css?family=Cardo:400,700&subset=latin,greek-ext,greek,latin-ext' rel='stylesheet' type='text/css'>                                                                                  
		<link rel="stylesheet" type="text/css" href="{% static "/static/style.css" %}" media="screen">
		<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<link rel="shortcut icon" href="{% static "favicon.ico" %}">
	</head>
	<body class="{% block body_class %}{% endblock %}">
		<section id="top">
			<header>
				Μάθετε Μαθηματικά!
			</header>
		</section>

		<div id='content' class='noborder'>
			{% block content %}
         	   content!!!
            {% endblock %}
        </div>
  		<footer>
  			{% block footer %}
        	{% endblock %}
		</footer>
	</body>
</html>