<ul class="menu">
    <div>Επιλογές</div>
    <li><a href="{% url add-example %}">Προσθήκη παραδείγματος</a></li>	
    <li><a href="{% url new-exercise %}">Δημιουργία άσκησης</a></li> 
    <li><a href="{% url new-test %}">Δημιουργία Τέστ</a></li>
    <li><a href="{% url new-exam %}">Δημιουργία διαγωνίσματος</a></li> 
	<li><a href="{% url students %}">Στοιχεία Μαθητών</a></li>
    <li><a href="{% url students-progress %}">Πρόοδος Μαθητών</a></li>	
    <li><a href="{% url logout %}">Αποσύνδεση</a></li>
</ul>
